<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Funcionários</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>

        </header>
        <main>
            <h1>Funcionario(a)</h1>
            <table>
                <tr>
                    <th>id</th>
                    <th>nome</th>
                    <th>Cargo</th>
                    <th>Departamento</th>
                    <th>Email</th>
                    <th>Contratacao</th>
                    <th>Ações</th>
                </tr>
                <tr th:each="f: ${perfil}">
                    <td th:text="${f.id}"></td>
                    <td th:text="${f.nome}"></td>
                    <td th:text="${f.cargo}"></td>
                    <td th:text="${f.departamento}"></td>
                    <td th:text="${f.email}"></td>
                    <td th:text="${f.dataContratacao}"></td>
                    <td>
                        <a th:href="@{/perfil(id=${f.id})}">Editar</a>                       
                    </td>
                </tr>
            </table>
        </main>
    </body>
</html>
